target/
*.class
*.log
.idea/
.vscode/
*.iml
.DS_Store
data/*.csv
!data/.gitkeep
*.swp
*.swo
.env
*.jar
*.war
*.ear
.classpath
.project
.settings/
bin/
out/
build/
tmp/
temp/
*.tmp
*.bak
*.swp
*~
.gradle
gradle-app.setting
!.gradle
buildSrc/build/
